@import "tailwindcss";

@media (max-width: 1024px) {
  .background {
    background-size: 120% 120%; /* Slightly bigger for tablets */
  }
}

@media (max-width: 768px) {
  .background {
    background-size: 140% 140%; /* Bigger zoom for small tablets */
  }
}

@media (max-width: 480px) {
  .background {
    background-size: 160% 160%; /* Bigger zoom for mobile phones */
  }
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
